<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="click()" routerLink="home" routerLinkActive="active"
            *ngIf="login=='home'">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="click()" routerLink="" routerLinkActive="active"
            *ngIf="login=='user'">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="click()" routerLink="jobsDisplay"
            routerLinkActive="active" *ngIf="login=='home'||login=='user'">Available jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" *ngIf="login=='home'">Link</a>
        </li>
        
      </ul>
      <!-- <form class="d-flex" *ngIf="path">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <li class="d-flex">
        <a class="nav-link" style="text-decoration: none;color:rgb(250, 250, 250);" routerLink="login"
          (click)="pathFunction('login')">sigin</a>
      </li>
    </div>
  </div>
</nav>

<!-- ========================================================= -->

<router-outlet></router-outlet>
<div class="text-center" id="spinner" *ngIf="spinner == 'spinner'">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>